
body
{
    margin: 0px; 
    font-family: "宋体", "仿宋_GB2312", "楷体_GB2312";
	font-size: 14px;
	background-color:#D8DCE0;
}

img
{
	border:0;
}

/*主体部分左侧查询的样式*/
TABLE.frmTable 
{
	border: 1px solid #000000;
    border-collapse:collapse;
    background-color:#FFFFFF;
    word-break:break-all;
    margin-bottom:20px;
}
TABLE.frmTable td
{
	border: 1px solid #000000;
	text-align:center;
	font-size:14px;
	color:#000000;
	
}
TABLE.nofrmTable 
{
	border: 0px solid #CCCCCC;
    border-collapse:collapse;
    word-break:break-all;
    background-color:#FFFFFF;
}
TABLE.nofrmTable td
{
	border: 0px solid #CCCCCC;
	font-size:14px;
	text-align:left;
	
}
TABLE.titleTable 
{
	border: 0px;
    border-collapse:collapse;
    background-color:#FFFFFF;
    cursor:pointer;
    margin-top:20px;
    margin-bottom:20px;

}

TABLE.titleTable td
{
	font-size:22px; 
	font-weight:bold;
	text-align:center;
	
}

TABLE.titleTable td.titleTableTime
{
	font-size:20px; 
	font-weight:bold;
	text-align:left;
	
}

TABLE.borderTable 
{
	border: 0px solid #000000;
    border-collapse:collapse;
    background-color:#FFFFFF;
    margin-top:-6px;
    margin-bottom:0px;
}

TABLE.borderTable  td.title
{
    padding-top:80px;
    padding-bottom:120px;
}
TABLE.personalTable 
{
	border:none;
    border-collapse:collapse;
    background-color:#FFFFFF;
    word-break:break-all;
    margin-bottom:20px;
}
TABLE.personalTable td
{
	border:none;
	text-align:center;
	font-size:14px;
	color:#000000;
	
}
.personalTitle
{
	font-weight:bold;
}

.tdTitle
{
	font-weight:bold;
}

div.RoundedCorner{background: #5590D2}
b.rtop, b.rbottom{display:block;background: #FFF}
b.rtop b, b.rbottom b{display:block;height: 1px;overflow: hidden; background: #5590D2}
b.r1{margin: 0 5px}
b.r2{margin: 0 3px}
b.r3{margin: 0 2px}
b.rtop b.r4, b.rbottom b.r4{margin: 0 1px;height: 2px}


.elementLeft
{
	text-align:left;
}