BODY {
	MARGIN: 0px; OVERFLOW: hidden
}
.STYLE1 {
	COLOR: white; FONT-SIZE: 12px
}
.STYLE2 {
	FONT-SIZE: 9px
}
.STYLE3 {
	COLOR: #033d61; FONT-SIZE: 12px
}
.STYLE4 {
	COLOR: #03515d; FONT-SIZE: 12px
}
.navPoint {
	FONT-FAMILY: Webdings; COLOR: blue; FONT-SIZE: 9pt; CURSOR: hand
}
.menu_title SPAN {
	POSITION: relative; COLOR: blue; TOP: 2px; FONT-WEIGHT: bold; LEFT: 3px
}
.menu_title2 SPAN {
	POSITION: relative; COLOR: #ffcc00; TOP: 2px; FONT-WEIGHT: bold; LEFT: 3px
}
A {
	COLOR: #033d61; TEXT-DECORATION: none
}
.aa00 {
	BACKGROUND: url(bj_04.gif) repeat-x 50% bottom
}
.aa01 {
	MARGIN: 18px 0px 0px 48px; COLOR: #fff; FONT-WEIGHT: bold
}
.aa02 {
	LINE-HEIGHT: 29px; PADDING-LEFT: 42px; BACKGROUND: url(main_38.gif) no-repeat; HEIGHT: 29px; PADDING-TOP: 1px
}
.aa02-hover {
	LINE-HEIGHT: 29px; PADDING-LEFT: 42px; BACKGROUND: url(main_38_1.gif) no-repeat; HEIGHT: 29px; COLOR: #ff7800; CURSOR: hand; FONT-WEIGHT: bold; PADDING-TOP: 1px
}
.aa02-hover A {
	COLOR: #ff7800
}
.aa03 {
	FILTER: DropShadow(Color=#ffffff, OffX=1, OffY=1, Positive=1); PADDING-LEFT: 5px; COLOR: #002477; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
.aa04 {
	MARGIN-TOP: 2px
}
.aa05 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: #82d1e7 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #fbfbfb; BORDER-TOP: #82d1e7 1px solid; BORDER-RIGHT: #82d1e7 1px solid; PADDING-TOP: 15px
}
.aa06 {
	COLOR: #002d71
}
.aa06 A {
	COLOR: #0048b5
}
.aa06 A:hover {
	COLOR: #f00; TEXT-DECORATION: underline
}
.aa07 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: #82d1e7 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #f7fdff; BORDER-TOP: #82d1e7 1px solid; BORDER-RIGHT: #82d1e7 1px solid; PADDING-TOP: 15px
}
.aa08 UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.aa08 LI {
	LINE-HEIGHT: 20px; PADDING-LEFT: 12px; BACKGROUND: url(main_36.gif) no-repeat left 6px
}
.aa08 A:hover {
	COLOR: #f00; TEXT-DECORATION: underline
}
.aa09 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 0px; COLOR: #fff; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
.aa10 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: #82d1e7 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 5px; BACKGROUND: #f7fdff; BORDER-TOP: #82d1e7 1px solid; BORDER-RIGHT: #82d1e7 1px solid; PADDING-TOP: 5px
}
.aa11 {
	MARGIN: 1px 5px 0px; FLOAT: right
}
.aa12 {
	MARGIN: 5px 5px 0px; DISPLAY: inline; FLOAT: right; COLOR: #002d71
}
.aa13 {
	COLOR: #fff
}
.aa13 TD {
	PADDING-TOP: 4px
}
.aa13 A {
	COLOR: #fff
}
.aa13 A:hover {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #f00; COLOR: #fff; PADDING-TOP: 2px
}
.aa14 {
	BACKGROUND: url(bj_01.gif) no-repeat right 50%
}
.aa15 {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 84px; PADDING-RIGHT: 0px; FONT-FAMILY: arial; COLOR: #fff; PADDING-TOP: 0px
}
.aa15 A {
	COLOR: #fff; TEXT-DECORATION: underline
}
.aa15 A:hover {
	COLOR: #f0ff00; TEXT-DECORATION: underline
}
.aa16 {
	BACKGROUND: url(main_2.gif) no-repeat
}
.aa17 {
	MARGIN-TOP: 2px; COLOR: #f0ff00; FONT-WEIGHT: bold
}
.aa18 {
	TEXT-ALIGN: center; LINE-HEIGHT: 40px; WIDTH: 80px; BACKGROUND: url(menu_bj_01.gif) no-repeat; FLOAT: left; HEIGHT: 40px; COLOR: #0d72b2; MARGIN-LEFT: 3px
}
.aa19 {
	TEXT-ALIGN: center; LINE-HEIGHT: 40px; WIDTH: 80px; BACKGROUND: url(menu_bj_02.gif) no-repeat; FLOAT: left; HEIGHT: 40px; COLOR: #fff; MARGIN-LEFT: 3px; CURSOR: hand; FONT-WEIGHT: bold
}
.aa19 A {
	COLOR: #fff
}
.aa19 A:hover {
	COLOR: #fff
}
.aa20 {
	PADDING-LEFT: 75px
}
.aa21 {
	MARGIN: 1px 20px 0px; DISPLAY: inline; FLOAT: left; COLOR: #0062a0
}
.aa22 {
	MARGIN: 1px 20px 0px 8px; DISPLAY: inline; FLOAT: right; COLOR: #0062a0
}
.aa23 {
	MARGIN: 1px 0px 0px; FLOAT: right
}
.ManageLine {
	BORDER-BOTTOM: #fbfbfb 1px solid; BORDER-LEFT: #fbfbfb 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; CLEAR: both; FONT-SIZE: 12px; BORDER-TOP: #fbfbfb 1px solid; BORDER-RIGHT: #fbfbfb 1px solid; PADDING-TOP: 3px
}
.ManageLine .ManageLineTitle {
	WIDTH: 280px; FLOAT: left
}
.ManageLine .ManageLineInput {
	WIDTH: 260px; FLOAT: left
}
.ManageLine .ManageLineDesc {
	PADDING-LEFT: 10px; FLOAT: left; COLOR: #999999
}
.ManageLine-hover {
	BORDER-BOTTOM: #ededed 1px solid; BORDER-LEFT: #ededed 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #f7f7f7; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BORDER-TOP: #ededed 1px solid; BORDER-RIGHT: #ededed 1px solid; PADDING-TOP: 3px
}
.ManageLine-hover .ManageLineTitle {
	WIDTH: 80px; FLOAT: left
}
.ManageLine-hover .ManageLineInput {
	WIDTH: 260px; FLOAT: left
}
.ManageLine-hover .ManageLineDesc {
	PADDING-LEFT: 10px; FLOAT: left; COLOR: #ff6600
}
.ManageLineInput B {
	PADDING-LEFT: 10px; COLOR: red
}
